body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("./img/background.png");
}
#root {
  height: 100vh;
}
.message-container {
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.container {
  padding-bottom: 5%;
}
.message-line {
  display: flex;
  width: 100%;
  padding: 0.2rem;
}
.card {
  width: 18rem;
}

.right {
  display: flex;
  justify-content: flex-end;
}
.left {
  display: flex;
  justify-content: flex-start;
}

.mess-color {
  background: lightsalmon;
}

.send-message-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: royalblue;
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 10vh;
}
